@use "mixins" as *;
@use "colors" as *;
@use "adaptive" as *;

.footer {
  margin-top: auto;
  border-top: 1px solid rgb(255 255 255 / 6%);

  &__wrapper {
    @include wrapper;

    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;

    @include smallerThanTablet {
      gap: 24px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__copyright {
    @include smallerThanTablet {
      order: 10;
    }
  }

  &__infoBlock {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
  }

  &__link {
    text-decoration: none;

    @include transition(opacity);

    &:hover {
      opacity: 0.7;
    }
  }
}
