@use "mixins" as *;
@use "colors" as *;
@use "adaptive" as *;

.footer {
  margin-top: auto;
  border-top: 1px solid rgba(255, 255, 255, 0.06);

  &__wrapper {
    @include wrapper;

    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;

    @include smallerThanTablet {
      gap: 32px;
    }
  }

  &__infoBlock {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
  }

  &__link {
    text-decoration: none;
    @include transition(opacity);

    &:hover {
      opacity: 0.7;
    }
  }
}
