@use "colors.scss" as *;
@use "adaptive" as *;
@use "sizes" as *;
@use "mixins" as *;

html[data-theme="light"] .header {
  background-color: rgba(255, 255, 255, 0.4);
}

.header {
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 10;

  &__wrapper {
    @include wrapper;
    position: relative;
    margin: 12px auto;
    display: flex;
    justify-content: center;
  }

  &__content {
    flex-flow: row;
    flex: none;
    place-content: center;
    align-items: center;
    width: fit-content;
    height: 44px;
    padding: 4px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
    border-radius: 80px;
    z-index: 9;
  }

  &__navigate {
    display: flex;
    width: fit-content;
  }

  &__navList {
    place-content: center;
    align-items: center;
    width: fit-content;
    height: 36px;
    padding: 0;
    display: flex;
    position: relative;
  }

  &__navItem {
    z-index: 1;
    position: relative;
    width: fit-content;
    padding: 4px 10px;
  }

  &__link {
    text-decoration: none;
    width: fit-content;
    padding: 4px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-radius: 0;
    pointer-events: none;
  }

  &__blurLayer {
    position: absolute;
    inset: 0;
    border-radius: 0;
    pointer-events: none;

    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        $mask: "";
        $z: $i;
        $blur: 0.140625px * pow(2, $i - 1);
        $start: ($i - 1) * 12.5%;
        $mid1: $start + 12.5%;
        $mid2: $mid1 + 12.5%;
        $end: $mid2 + 12.5%;
        $mid2-clamped: min($mid2, 100%);
        $end-clamped: min($end, 100%);

        z-index: $z;
        -webkit-backdrop-filter: blur($blur);
        backdrop-filter: blur($blur);

        @if $i <= 6 {
          $mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) $start,
            rgba(0, 0, 0, 1) $mid1,
            rgba(0, 0, 0, 1) $mid2-clamped,
            rgba(0, 0, 0, 0) $end-clamped
          );
        } @else if $i == 7 {
          $mask: linear-gradient(
            to top,
            rgba(0, 0, 0, 0) 75%,
            rgba(0, 0, 0, 1) 87.5%,
            rgba(0, 0, 0, 1) 100%
          );
        } @else {
          $mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
        }

        -webkit-mask-image: $mask;
        mask-image: $mask;
      }
    }
  }
}
