{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["**/*.scss", "*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
