@use "colors.scss" as *;
@use "mixins" as *;

.text {
  color: inherit;
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &--w-black {
    font-weight: 900;
  }

  &--w-bold {
    font-weight: 700;
  }

  &--w-medium {
    font-weight: 500;
  }

  &--f-caveat {
    font-family: "Caveat", serif;
  }

  &--v-button {
    @include fontSize(18px);
  }
  &--v-title {
    @include fontSize(60px);
    line-height: 1;
    overflow: visible;
  }
  &--v-subtitle {
    @include fontSize(34px);
  }
  &--v-p-32 {
    @include fontSize(32px);
  }
  &--v-p-30 {
    @include fontSize(30px);
  }
  &--v-p-28 {
    @include fontSize(28px);
  }
  &--v-p-24 {
    @include fontSize(24px);
  }
  &--v-p-20 {
    @include fontSize(20px);
  }
  &--v-p-18 {
    @include fontSize(18px);
  }
  &--v-p-16 {
    @include fontSize(16px);
  }
  &--v-p-14 {
    @include fontSize(14px);
  }
  &--v-p-12 {
    @include fontSize(12px);
  }
  &--v-p-10 {
    @include fontSize(10px);
  }
  &--v-p-8 {
    @include fontSize(8px);
  }

  &--c-primary {
    color: $text-primary;
  }

  &--c-secondary {
    color: $text-secondary;
  }

  &--c-accent {
    color: $text-accent;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--full {
    line-height: 1;
    font-size: 11.56vw;
    width: 100%;
  }

  &--no-wrap {
    white-space: nowrap;
  }
}
