@use "colors.scss" as *;
@use "adaptive" as *;
@use "sizes" as *;
@use "mixins" as *;

.button {
  @include transition(background-image, color);
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  background-image: $button-primary-bg;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: $black;
  padding: 0.6rem 1.6rem;
  box-shadow: $button-shadow;

  &--noPadding {
    padding: 0;
  }

  &:not(.button--loading):hover {
    background-image: $button-primary-bg-hover;
  }

  &:not(.button--loading):active {
    background-image: $button-primary-bg-active;
  }

  &__loader {
    color: $button-primary-text !important;
  }

  &[disabled] {
    pointer-events: none;
    background-image: $button-primary-bg-disabled;
    color: $button-primary-text-disabled;
    opacity: 0.5;
  }

  &--accent {
    background-image: $button-accent-bg;
    color: $white;
    border: 1px solid $button-accent-border;
    text-shadow: 0px 0.2px 0.05px #00000040;
    @include transition(background-image);

    &:not(.button--loading):hover {
      background-image: $button-accent-bg-hover;
    }

    &:not(.button--loading):active {
      background-image: $button-accent-bg;
    }

    &[disabled] {
      pointer-events: none;
      background-image: $button-accent-bg;
      color: $black;
      opacity: 0.5;
    }
  }

  &--dark {
    background-image: $button-dark-bg;
    color: $black;
    border: 1px solid $button-dark-border;
    text-shadow: 0px 0.2px 0.05px #00000040;

    &:not(.button--loading):hover {
      background-image: $button-dark-bg-hover;
    }

    &:not(.button--loading):active {
      background-image: $button-dark-bg-active;
    }

    &[disabled] {
      pointer-events: none;
      background-image: $button-dark-bg-disabled;
      opacity: 0.5;
    }
  }
}
