@use "styles/colors" as *;
@use "mixins" as *;

.projectCard {
  position: relative;

  &__cover {
    border: 4px solid $white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: $project-shadow;
    background-color: $white;
    width: 100%;
    height: auto;
    inset: 0px;
    max-width: max(800px, 46vw);
  }

  &__media {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    object-position: center center;
  }

  &__info {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 8px;
  }

  &__github svg {
    color: $black;
  }
}
