@use "mixins" as *;
@use "adaptive" as *;
@use "styles/colors" as *;

.about {
  @include paddingTop;
  display: flex;
  gap: 20px;

  &__info,
  &__details {
    flex: 1;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 20px 16px;
    border: 1px solid $black;
    line-height: 1.25;
    gap: 10px;
  }

  &__decorate {
    position: absolute;
    bottom: -18px;
    right: -80px;
    width: 200px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 6px;
    flex-wrap: wrap;
  }

  &__dates {
    text-align: end;
  }

  &__button {
    z-index: 4;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
  }
}

@include smallerThanLaptop {
  .grants {
    &__item {
      flex-direction: column;
      align-items: start;
    }

    &__dates {
      display: flex;
      gap: 4px;
    }
  }
}
