html,
body {
  font-family: "Pretendard", Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
pre {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
