@use "colors" as *;
@use "mixins" as *;

.achievementCard {
  position: relative;

  &__cover {
    border: 4px solid $white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: $project-shadow;
    background-color: $white;
    width: 100%;
    height: auto;
    inset: 0px;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    border-radius: 4px;
  }

  &__info {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 8px;
  }

  &__badges {
    padding: 0 12px;
    display: flex;
    margin-top: 12px;
    gap: 6px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
  }
}
