@use "colors" as *;

.skeleton {
  background: $skeleton-gradient;
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
  border-radius: 8px;

  &--light {
    background: linear-gradient(90deg, #151e23 25%, #202c32 50%, #151e23 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s ease-in-out infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}
