@use "mixins" as *;
@use "adaptive" as *;
@use "colors" as *;

.grants {
  @include paddingTop;
  position: relative;

  &__head {
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto 80px;
  }

  &__titleSpan {
    position: relative;
  }

  &__desc {
    position: absolute;
    top: -32px;
    right: 0;
    width: auto;
    transform: rotate(2deg);
    padding-right: 2px;
  }

  &__decorate {
    position: absolute;
    top: 50%;
    left: 86%;
    width: 160px;
  }

  &__details {
    display: flex;
    align-items: center;
    column-gap: 6px;
    flex-wrap: wrap;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 240px;
    overflow-y: hidden;
    @include transition(height);

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, $white 100%);
      backdrop-filter: blur(0.2px);
    }
  }

  &__content--active {
    height: 100%;

    &::before {
      content: "";
      display: none;
    }
  }

  &__item {
    border-bottom: 0.4px solid $black;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
      border-top: 0.4px solid $black;
    }
  }

  &__dates {
    text-align: end;
  }

  &__button {
    z-index: 4;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
  }
}

@include smallerThanLaptop {
  .grants {
    &__item {
      flex-direction: column;
      align-items: start;
    }

    &__dates {
      display: flex;
      gap: 4px;
    }
  }
}
