.animatedText {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0;
  white-space: pre;
  width: 100%;
  overflow: hidden;
}

.letter {
  display: inline-block;
  line-height: 1;
  font-size: 11.56vw;
  will-change: transform, opacity, filter;
}
