@use "adaptive" as *;

.animatedText {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}

.letter {
  display: inline-block;
  line-height: 1;
  font-size: clamp(36px, 11.56vw, 222px);
  will-change: transform, opacity, filter;
}
