@use "mixins" as *;

.hero {
  @include paddingTop;
  position: relative;
  height: 100vh;

  &__info {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    bottom: 60px;
  }

  &__desc {
    max-width: max(50vw, 340px);
  }

  &__background {
    position: absolute;
    border-radius: inherit;
    top: 0;
    right: -40px;
    bottom: 0;
    left: -40px;
    z-index: -1;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-position: center;
    object-fit: cover;
  }
}
