.animatedText {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0;
  white-space: pre; /* preserves original spacing if needed */
  width: 100%;
}

.letter {
  display: inline-block;
  text-shadow: 0 1.05em red;
  transition: translate 0.3s cubic-bezier(0.625, 0.05, 0, 1),
    text-shadow 0.1s 0.15s ease;
  line-height: 1;
  font-size: 11.56vw;
}
