@use "colors" as *;
@use "adaptive" as *;

.projects {
  margin-top: 180px;

  &__info {
    position: relative;
    width: fit-content;
    margin: 0 auto 80px;
  }

  &__desc {
    position: absolute;
    top: -32px;
    right: 0;
    width: auto;
    transform: rotate(2deg);
    padding-right: 2px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 40px;
    background-color: $project-bg;
    justify-content: space-evenly;
    padding: 80px 32px;
    border-radius: 24px;

    @include smallerThanLaptop {
      gap: 20px;
    }
  }

  &__decorate {
    position: absolute;
    bottom: -24px;
    right: -60px;
    width: 200px;
  }
}
